* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1230px;
  padding: 15px;
  margin: 0 auto;
}

.display-none {
  display: none;
}

.line-through {
  text-decoration: line-through;
  opacity: 0.5;
}

.header {
  padding-top: 30px;
  position: fixed;
  z-index: 5;
  width: 100vw;
}
.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.main {
  overflow-y: hidden;
  height: 100svh;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.calendar {
  padding-top: 12vh;
}
.calendar__data {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(14px + 16 * (100vw - 320px) / 880);
  font-weight: 600;
  padding: 1vw 1vw;
  color: rgb(67, 133, 83);
}
.calendar__inner {
  width: 80vw;
  border-radius: 30px;
  border: 2px solid #b481c2;
  backdrop-filter: blur(20px);
  height: 70vh;
  margin: 0 auto;
  padding: 1vw;
}
.calendar__month-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.calendar__month-prev,
.calendar .calendar__month-next {
  background: transparent;
  border: none;
  fill: #a520ca;
  height: calc(14px + 8 * (100vw - 320px) / 880);
  width: calc(14px + 8 * (100vw - 320px) / 880);
  cursor: pointer;
}
.calendar__days-name {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: #a520ca;
  font-size: calc(14px + 8 * (100vw - 320px) / 880);
  font-weight: 600;
  padding: 1vw;
  text-align: center;
}
.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: calc(5px + 5 * (100vw - 320px) / 880);
  text-align: center;
  font-size: calc(12px + 10 * (100vw - 320px) / 880);
}
.calendar__day {
  border: 1px solid rgba(101, 72, 109, 0.3843137255);
  border-radius: 20px;
  padding: 1vw 0.8vw;
  color: antiquewhite;
  cursor: pointer;
}
.calendar__day:hover {
  border: 3px solid #a520ca;
  padding: 0.7vw;
  color: #a520ca;
  font-weight: 700;
}

.tasks {
  height: 100svh;
  padding-top: 10vh;
}
.tasks__body {
  background-image: url(../img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tasks__link-home {
  position: absolute;
  top: 5vh;
  left: 3vw;
}
.tasks__link-home svg {
  fill: rgb(99, 85, 99);
}
.tasks__data {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 3vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(16px + 10 * (100vw - 320px) / 880);
  font-style: italic;
  font-weight: 600;
}
.tasks__data-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: transform 0.3s linear;
}
.tasks__data-btn:hover {
  transform: translateX(-5px);
}
.tasks__data-btn:active {
  transform: scale(0.98);
}
.tasks__data-btn svg {
  fill: rgb(99, 85, 99);
}
.tasks__data-prev:hover {
  transform: translateX(-5px);
}
.tasks__data-next:hover {
  transform: translateX(5px);
}
.tasks__data-text {
  color: rgb(73, 62, 73);
  width: 20vw;
  text-align: center;
}
.tasks__inner {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  border: 2px solid rgba(110, 93, 110, 0.719);
  border-radius: 30px;
  backdrop-filter: blur(20px);
  padding: 5vh 5vw;
}
.tasks input {
  padding: 1.5vw;
  padding-left: 4vw;
  border-radius: 30px;
  width: 60vw;
  border: 1px solid plum;
  font-size: calc(14px + 10 * (100vw - 320px) / 880);
  outline: 0;
}
.tasks__btn-add {
  margin-left: 20px;
  font-size: calc(14px + 6 * (100vw - 320px) / 880);
  padding: 1.5vw;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid rgb(155, 126, 155);
  transition: all 0.5s linear;
  cursor: pointer;
}
.tasks__btn-add:hover {
  background-color: #fff;
}
.tasks__btn-add:active {
  transform: scale(0.98);
  background-color: rgba(224, 190, 146, 0.329);
}
.tasks__link-post {
  position: absolute;
  top: 5vh;
  right: 3vw;
}
.tasks__link-post svg {
  fill: rgb(107, 72, 27);
}
.tasks__content {
  margin-top: 40px;
  overflow-y: auto;
  height: 60vh;
  scrollbar-width: thin;
  scrollbar-color: #fff rgba(224, 190, 146, 0.329);
}
.tasks__item {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-bottom: 20px;
  padding-right: 5px;
}
.tasks__item button {
  padding: 1.5vw;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid rgb(155, 126, 155);
  cursor: pointer;
  transition: all 0.5s linear;
}
.tasks__item button:hover {
  background-color: #fff;
}
.tasks__item button:active {
  transform: scale(0.98);
  background-color: rgba(224, 190, 146, 0.329);
}
.tasks__item-text {
  width: 60vw;
  font-size: calc(14px + 6 * (100vw - 320px) / 880);
  font-weight: 600;
  padding: 1.5vw 2vw;
  border-radius: 30px;
  background-color: #fff;
  color: rgb(107, 72, 27);
  border: 1px solid rgba(224, 190, 146, 0.726);
}
.tasks__no-task {
  max-width: 40vw;
  text-align: center;
  margin: 0 auto;
  padding-top: 20vh;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  color: rgb(107, 72, 27);
}

.posts {
  width: 100vw;
  height: 100svh;
  background-image: url(../img/posts-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10vh 0;
}
.posts__link-back, .posts__link-calendar, .posts__link-allposts {
  position: absolute;
  top: 5vh;
  left: 3vw;
  padding: 1vw 1vw 0.5vw;
  border-radius: 100%;
  border: 3px solid rgba(163, 138, 100, 0.541);
  transition: all 0.2s linear;
}
.posts__link-back svg, .posts__link-calendar svg, .posts__link-allposts svg {
  fill: rgba(78, 60, 33, 0.719);
}
.posts__link-back:hover svg, .posts__link-calendar:hover svg, .posts__link-allposts:hover svg {
  fill: rgba(78, 60, 33, 0.856);
}
.posts__link-back:hover, .posts__link-calendar:hover, .posts__link-allposts:hover {
  border: 3px solid rgba(126, 108, 80, 0.712);
}
.posts__link-calendar {
  top: 13vh;
}
.posts__link-allposts {
  top: 21vh;
}
.posts__form {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  border: 2px solid rgba(110, 93, 110, 0.719);
  border-radius: 30px;
  backdrop-filter: blur(20px);
  padding: 5vh 5vw;
}
.posts__textarea {
  width: 100%;
  height: 65vh;
  border: 2px solid rgba(110, 93, 110, 0.719);
  background-color: rgba(255, 255, 255, 0.1725490196);
  border-radius: 30px;
  resize: none;
  padding: 3vw;
  outline: 0;
  font-size: calc(18px + 6 * (100vw - 320px) / 880);
  font-weight: 500;
  line-height: 1.25;
  font-style: italic;
  scrollbar-width: thin;
  scrollbar-color: #978460 transparent;
}
.posts__button-save {
  display: block;
  margin-left: auto;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: calc(18px + 6 * (100vw - 320px) / 880);
  font-style: italic;
  margin-top: 10px;
  cursor: pointer;
  color: #6b502e;
  font-weight: 600;
  background-color: rgba(219, 207, 184, 0.5568627451);
  border: 1px solid rgba(107, 80, 46, 0.3843137255);
  transition: all 0.2s linear;
}
.posts__button-save:hover {
  background-color: rgba(107, 80, 46, 0.3843137255);
  color: #b39b7f;
}
.posts__button-save:active {
  transform: scale(0.95);
  background-color: rgba(82, 60, 35, 0.8274509804);
}
.posts__form-footer {
  display: flex;
  align-items: center;
}
.posts__data {
  font-size: calc(16px + 8 * (100vw - 320px) / 880);
  font-style: italic;
  font-weight: 600;
  padding-left: 20px;
  color: #6b5d44;
}

.allPosts__body {
  background-image: url(../img/allPosts-bg.jpg);
}
.allPosts__inner {
  padding: 2vw;
  padding-right: 1vw;
}
.allPosts__content {
  height: 70vh;
  overflow-y: auto;
  padding-right: 1vw;
}
.allPosts__item {
  display: block;
  width: 100%;
  padding: 1.5vw;
  border-radius: 30px;
  border: 2px solid rgba(110, 93, 110, 0.719);
  font-size: calc(18px + 8 * (100vw - 320px) / 880);
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: #1a0c01;
  margin-bottom: 2vh;
}

@media (width < 500px) {
  .main {
    background-image: url(../img/bg-phone.jpg);
  }
  .calendar {
    padding-top: 17vh;
  }
  .calendar__inner {
    margin-top: 2vh;
    height: 50vh;
    width: 90vw;
  }
  .calendar__days-item {
    margin-top: 3vw;
    padding: 2vw 1vw;
  }
  .calendar__days {
    margin-top: 6vw;
    row-gap: 5vw;
  }
  .calendar__day {
    padding: 10px;
    border-radius: 100%;
  }
  .calendar__day:hover {
    color: antiquewhite;
    border: 3px solid #a520ca;
    padding: 8px 0 5px;
    font-weight: 400;
  }
  .tasks {
    padding-top: 15vh;
  }
  .tasks__data-prev:hover {
    transform: translateX(0px);
  }
  .tasks__data-next:hover {
    transform: translateX(0px);
  }
  .tasks__btn-add:hover {
    background-color: transparent;
  }
  .tasks__btn-add:active {
    transform: scale(1);
    background-color: transparent;
  }
  .tasks__body {
    background-image: url(../img/bg2-phone.jpg);
  }
  .tasks__inner {
    width: 90vw;
    height: 70vh;
    padding: 2vh 3vw;
  }
  .tasks__data {
    top: 6vh;
  }
  .tasks__data-btn:hover {
    transform: translateX(0px);
  }
  .tasks__link-post {
    top: -10vh;
    right: 0;
  }
  .tasks__form {
    display: flex;
    align-items: center;
  }
  .tasks__item button {
    padding: 5px;
    border-radius: 100%;
  }
  .tasks__item button:hover {
    background-color: transparent;
  }
  .tasks__item button:active {
    transform: scale(1);
    background-color: transparent;
  }
  .tasks svg,
  .posts svg {
    width: 30px;
    height: 30px;
  }
  .tasks__item button svg {
    width: 20px;
    height: 20px;
  }
  .tasks__content {
    margin-top: 20px;
  }
  .posts {
    padding-top: 13vh;
    background-image: url(../img/posts-bg-phone.jpg);
  }
  .posts__button-save:hover {
    background-color: rgba(219, 207, 184, 0.5568627451);
    color: #6b502e;
  }
  .posts__button-save:active {
    transform: scale(1);
    background-color: rgba(219, 207, 184, 0.5568627451);
  }
  .posts__link-calendar {
    top: 5vh;
    left: 17vw;
  }
  .posts__link-allposts {
    top: 5vh;
    left: 31vw;
  }
  .posts__form {
    width: 90vw;
    height: 77vh;
    padding: 2vh 3vw;
  }
  .allPosts__body {
    background-image: url(../img/allPosts-bg-phone.jpg);
  }
  .tasks__no-task {
    max-width: 65vw;
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */